/* Color palettes:
#222831, #393E46, #D65A31, #EEEEEE */ 

html,
main {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #222831;
}

p, hr {
  color: #EEEEEE;
  font-size: 19px;
  
}

h2, p.iam {
  color: #EEEEEE;
  font-size: 40px;
  
}

p.iam {
  color: #EEEEEE;
  font-size: 28px;
}

span.info {
  font-style: italic;
  font-weight: 100;
}

span.me, span.skills {
  color: #D65A31;
  
}

.btn-cv, .bg-progressBar {
  color: #EEEEEE;
  background-color: #D65A31;
  
}

